clip @ git+https://github.com/openai/CLIP.git@573315e83f07b53a61ff5098757e8fc885f1703e
DateTime==4.3
numpy==1.21.4
opencv-python-headless
Pillow==8.4.0
plotly==5.4.0
pytube==11.0.1
torch==1.10.0
torchvision==0.11.1
tqdm==4.62.3

